* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-color: rgb(224, 224, 224);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main {
  display: flex;
  width: 89%;
  height: 98%;
  background-color: rgb(234 234 234);
  padding: 7px;
}

.asideForm {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.inputsWrapper {
  background-color: antiquewhite;
  height: 57%;
  width: 95%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.createTagsInput {
  height: 33%;
  width: 71%;
}
.createTagsColor {
  height: 33%;
  width: 25%;
}
.buttonWrapper {
  display: flex;
  height: 30%;
  width: 95%;
  background-color: darkcyan;
  justify-content: center;
  align-items: center;
}
.createTagsButton {
  width: 75%;
  height: 58%;
  font-size: 1rem;
  border-radius: 6px;
  border-color: white;
}
.userTag {
  display: flex;
  height: 70%;
  background-color: beige;
  width: 100%;
  justify-content: center;
}
.right {
  padding: 3px;
  display: flex;
  width: 79%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d4d4d4;
}
.unassigned {
  background-color: #d4d4d4;
  height: 67%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
  scroll-behavior: smooth;
  padding: 5px;
  align-items: center;
}
.photo {
  cursor: pointer;
  display: flex;
  position: relative;
  border: 1px solid gray;
  background-color: cornsilk;
  width: 31%;
  height: 42%;
  padding: 5px;
  margin-bottom: 13px;
  margin-right: 13px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.photo img {
  height: 84%;
  width: 100%;
}
.tagButton {
  position: absolute;
  right: 2%;
  top: 69%;
}
.tagsDialog {
  z-index: 1;
  top: 82%;
  left: 72%;
  position: absolute;
  background-color: aliceblue;
  border: 1px solid rgb(71, 71, 71);
  width: 28%;
  height: 68%;
  flex-direction: column;
  justify-content: space-evenly;
}
