.userTag {
  display: flex;
  flex-direction: row;
  height: 11%;
  margin-top: 3%;
  width: 90%;
  border-radius: 7px;
  border: 1px solid gray;
  background-color: aliceblue;
  justify-content: space-around;
  align-items: center;
}
.userTag div {
  background-color: rgb(191, 130, 130);
  height: 46%;
  width: 17%;
  border-radius: 19%;
}
